<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="Site para gerenciamento de investimentos">
  <meta name="author" content="Edivan de Castro">

  <link rel="shortcut icon" href="assets/images/favicon.png" type="image/png">

  <title>Investiment</title>

  <link href="assets/css/style.css" rel="stylesheet">
  <link href="assets/css/theme.css" rel="stylesheet">
  <link href="assets/css/ui.css" rel="stylesheet">

  <link href="assets/css/layout.css" rel="stylesheet">
</head>
<body class="sidebar-condensed fixed-topbar fixed-sidebar theme-sdtl color-default">
  <div id="app">
    <section>
      <div class="sidebar">
        <div class="logopanel">
            <h1>
              <a href="#"></a>
            </h1>
          </div>
          <div class="sidebar-inner">
            <div class="sidebar-top big-img">
              <div class="user-image">
                <img src="assets/images/profil_page/friend5.jpg" class="img-responsive img-circle" alt="friend 8">
              </div>
              <h4>Bryan Raynolds</h4>
            </div>
            <div class="menu-title">
              Navigation
              <div class="pull-right menu-settings">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" data-delay="300"> 
                  <i class="icon-settings"></i>
                  </a>
                  <ul class="dropdown-menu">
                    <li><a href="#" id="reorder-menu" class="reorder-menu">Reorder menu</a></li>
                    <li><a href="#" id="remove-menu" class="remove-menu">Remove elements</a></li>
                    <li><a href="#" id="hide-top-sidebar" class="hide-top-sidebar">Hide / show user image</a></li>
                  </ul>
                </div>
            </div>
            <ul class="nav nav-sidebar">
              <menu v-for="menu in menus" :menu="menu" ></menu>
            </ul>
        </div>
      </div>
    </section>
  </div>

  <script id="menu" type="text/template">
    <li class="nav-parent">
        <a href="#">
          <i class="{{ menu.icon }}"></i>
          <span>{{ menu.label }}</span> 
          <span class="fa arrow"></span>
        </a>
        <ul class="children collapse">
          <submenu v-for="submenu in menu.submenus" :link="submenu.link" :label="submenu.label"></submenu>
        </ul>
      </li>
  </script>

  <script src="assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
  <script src="assets/plugins/jquery/jquery-3.1.0.min.js"></script>
  <script src="assets/plugins/jquery/jquery-migrate-3.0.0.min.js"></script>
  <script src="assets/plugins/jquery-ui/jquery-ui.min.js"></script>
  <script src="assets/plugins/gsap/main-gsap.min.js"></script>
  <script src="assets/plugins/tether/js/tether.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/plugins/appear/jquery.appear.js"></script>
  <script src="assets/plugins/jquery-cookies/jquery.cookies.min.js"></script> <!-- Jquery Cookies, for theme -->
  <script src="assets/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
  <script src="assets/plugins/bootbox/bootbox.min.js"></script> <!-- Modal with Validation -->
  <script src="assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
  <script src="assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
  <script src="assets/plugins/charts-sparkline/sparkline.min.js"></script> <!-- Charts Sparkline -->
  <script src="assets/plugins/retina/retina.min.js"></script> <!-- Retina Display -->
  <script src="assets/plugins/select2/dist/js/select2.full.min.js"></script> <!-- Select Inputs -->
  <script src="assets/plugins/icheck/icheck.min.js"></script> <!-- Checkbox & Radio Inputs -->
  <script src="assets/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
  <script src="assets/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
  <script src="assets/plugins/charts-chartjs/Chart.min.js"></script>
  <script src="assets/plugins/vue/vue.js"></script>
  <script src="assets/js/builder.js"></script> <!-- Theme Builder -->
  <script src="assets/js/sidebar_hover.js"></script> <!-- Sidebar on Hover -->
  <script src="assets/js/widgets/notes.js"></script> <!-- Notes Widget -->
  <script src="assets/js/quickview.js"></script> <!-- Chat Script -->
  <script src="assets/js/pages/search.js"></script> <!-- Search Script -->
  <script src="assets/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
  <script src="assets/js/application.js"></script> <!-- Main Application Script -->
  <script src="assets/js/layout.js"></script>
  <script src="assets/js/vue/components/menu.js"></script>
  <script src="assets/js/vue/components/submenu.js"></script>
  <script src="assets/js/vue/app.js"></script>
</body>
</html>